<html>
  <head>
    <title>Music</title>
    {% load static %}
    <link href="{% static 'music/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'music/css/bootstrap-theme.css' %}" rel= "stylesheet">
    <link rel="stylesheet" href="{% static 'music/css/main.css' %}">
  </head>
  <body>
    <div id = "page">
      <div class="container-fluid">
          <header>
            <div class="ascii-title"><!--
            --><a href="{% url "music:index" %}">
××   ××   ××   ××    ××××   ××   ××××
××× ×××   ××   ××   ××      ××  ××
×× × ××   ××   ××     ××    ××  ××
××   ××   ××   ××      ××   ××  ××
××   ××   ×××××××   ××××    ××   ××××</a></div>
    <nav class = 'navbar' >
      <div class="navbar-header">

      </div>
    </nav>
<div class = "ascii-title"><a href = "{% url 'music:index' %}">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</a><!--
--></div>
          </header>
          <div class="col-md-4">
              <img src="{{album.album_logo}}" alt="" />
          </div>
          <div class="col-md-8">
                <h2 class="album-title">{{album.album_title}}</h2>
                <h3 class="album-artist">{{album.artist}}</h3>

                <ul class="list-songs">
                  {% if album.song_set.count %}
                      <form action="{% url 'music:favorite' album.id %}" method="post">
                      {% csrf_token %}
                      {% for song in album.song_set.all %}
                          <li class = "list-songs-item"><p>{{ song.song_title }} - {{ song.file_type }}
                          <label for="song {{ forloop.counter }}"><input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
                            {% if song.is_favorite %}
                              [*]
                                {% endif %}
                          </p></li>
                          </label> </br>
                      {% endfor %}
                      {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                      {% endif %}
                      <input type="submit" value="Favorite"></input>
                  </form>

                  {% else %}
                  <li class="list-songs-item"><p class = "no-songs">No songs to display</p></li>
                  {% endif %}
                </ul>
          </div>
    </div>
    </div>
    <!--<script src="js/bootstrap.js"></script>-->

  </body>
</html>
