
{% extends 'music/base.html' %}
{% block title %}Album details{% endblock %}
  {% block body %}

          <div class="col-md-4">
              <img src="{{album.album_logo}}" alt="" />
          </div>
          <div class="col-md-8">
                <h2 class="album-title">{{album.album_title}}</h2>
                <h3 class="album-artist">{{album.artist}}</h3>

                <ul class="list-songs">
                  {% if album.song_set.count %}
                      {% for song in album.song_set.all %}
                          <li class = "list-songs-item"><p>{{ song.song_title }} - {{ song.file_type }}</li>
                      {% endfor %}
                  {% else %}
                    <li class="list-songs-item"><p class = "no-songs">No songs to display</p></li>
                  {% endif %}
                </ul>
          </div>
    <!--<script src="js/bootstrap.js"></script>-->
{% endblock %}
